<phpunit bootstrap="./bootstrap.php" colors="false">
    <testsuite name="HSSTests">
        <directory>./</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">./../app</directory>
            <exclude>
                <directory suffix=".phtml">./../views</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./coverage/codeCoverage" charset="UTF-8"
            yui="true" highlight="true"
            lowUpperBound="150" highLowerBound="180"/>
        <log type="testdox-html" target="./coverage/testdox.html" />
    </logging>
</phpunit>