<!doctype html>
<html ng-app="blog">
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
        <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.5.0.js"></script>
        <script src="/js/main.js"></script>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div clas="row">
                <div ng-controller="AlertDemoCtrl">
                    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
                    <button class='btn' ng-click="addAlert()">Add Alert</button>
                </div>
            </div>
        </div>
    </body>
</html>
